H1{background-color: rgba(233, 210, 4, 0.839); margin-top: 0%; margin-bottom: 0%;}
h1.subw{background-color:coral ;}

body{margin-left: 0px;margin-right: 0px;margin-top: 0px; background-color: beige;}

p{text-align: center ; background-size: 50%; }

ul.top{font-size: 30px;  margin-top: 0%; margin-bottom: 0%;}
li{background-color: rgba(141, 208, 141, 0.706);text-align: center; display: inline-block;width:32%;}
li:hover{background-color: aqua;}

.cmw{background-color: burlywood;}

.italics{font-style: italic;}

.par{ font-size: larger;}

#hds{background-color:crimson;}
@media only screen and (max-width: 600px) {
    body{ 
        font-size:small;
      
    }
    img {
        width:100%
        }
    }
.end{font-size: xx-small;}
a{color:blueviolet}
ul{background-color: rgba(141, 208, 141, 0.706);}
div{background-color: aqua;}