H1{background-color: rgba(233, 210, 4, 0.839);}
h1.subw{background-color:coral ;}

body{margin-left: 0px;margin-right: 0px;margin-top: 0px; background-color: beige;}

p{text-align: center ; background-size: 50%; }

li{background-color: rgba(0, 128, 0, 0.706);text-align: center; display: inline-block;width:32%; font-size: 30px;}
li:hover{background-color: aqua;}

.cmw{background-color: burlywood;}


#hds{background-color:crimson;}
@media only screen and (max-width: 600px) {
    body{ 
        font-size:small;
      
    }
    img {
        width:100%
        }
    }

a{color:blueviolet}
ul{background-color: green;}
div{background-color: aqua;}